/***** COLORS *****/
/*
    rgb(243, 243, 243); - background
    rgb(242, 242, 242); - header h1
    rgb(217, 217, 217); - border article
    rgb(135, 138, 137); - blog-post text
    rgb(37, 232, 166); - main, btn, main-footer
    rgb(24, 185, 110); - active
    rgb(51, 249, 209); - hover
    rgb(51, 51, 51); - blog-post footer
    
*/

/***** GENERAL *****/
* {
    margin: 0;
    padding: 0;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block;}
* html .clearfix { height: 1%; }
.clearfix { display: block; }

body {
    font-family: Oswald, sans-serif;
    background-color: rgb(243, 243, 243);
}

/***** HEADER *****/
header {
    height: 93px;
    overflow: hidden;
}

h1 {
    margin-left: 200px;
    line-height: 93px;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    font-weight: 400;
    color: rgb(242, 242, 242);
}

nav {
    font-size: 15px;
    background-color: rgb(37, 232, 166)
}

nav > ul {
    list-style: none;
    float: right;
    line-height: 93px;
}

nav li {
    box-sizing: border-box;
    height: 110px;
    display: inline-block;
    width: 135px;
    text-align: center;
    border-left: 2px solid rgb(217, 217, 217);
    border-right: 2px solid #fff;
    cursor: pointer;
}

nav li:first-of-type {
    border-left: 2px solid rgb(217, 217, 217);
    box-shadow:0 0 0 2px #fff;
}

nav li:last-of-type {
    margin-right: 200px;
    border-right: 2px solid #fff;
    box-shadow:1px 0 0 1px rgb(217, 217, 217);
}

nav li a:link,
nav li a:active,
nav li a:hover,
nav li a:visited {
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

nav li:hover {
    background-color: rgb(51, 249, 209);
}

.active {
    background-color: rgb(24, 185, 110);
}

/***** HERO *****/
.hero {
    height: 425px;
    margin-top: 5%;
    background: url(images/Omnifood.png);
}

.hero ul {
    list-style: none;
}


.hero li {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 2em;
    border-radius: 100%;
    background: rgb(37, 232, 166);
    margin-top: 15%;
}

.hero li:first-child {
    margin-left: 5%
}

.hero li:last-child {
    margin-left: 81.5%
}

/***** BLOG-POST *****/
.blog-post {
    width: 685px;
    height: 350px;
    margin: 35px 0 0 120px;
    background-color: #fff;
    color: rgb(135, 138, 137);
    font-family: Arial, sans-serif;
    border: 1px solid rgb(217, 217, 217);
}

.blog-post:first-child {
    margin-top: 4%;
}

.blog-post header {
    height: 20%;
    border-bottom: 2px solid rgb(37, 232, 166);
}

.blog-post article {
    height: 65%;
    box-sizing: border-box;
    padding: 30px;
    overflow: scroll
}

.blog-post footer {
    height: 15%;
    background-color: rgb(51, 51, 51);
    color: rgb(217, 217, 217);
}

h2 {
    display: inline-block;
    margin: 25px 0 20px 20px;
    text-transform: uppercase;
    font-weight: 400;
}

header i {
    font-size: 2.5em;
    margin: 0 5px 0 35%;
}

header span {
    vertical-align: super;
}

footer i {
    font-size: 1.8em;
    vertical-align: sub;
}

.ion-pricetag {
    margin: 0 8px 0 23px;
    line-height: 52.5px;
}

footer .tags {
    display: inline-block;
}

footer .media {
    float: right;
    list-style: none;
    margin-right: 15px;
}

.media li{
    display: inline-block;
    margin-left: 7px;
}

.media li:last-child{
    margin-right: 8px;
}

.social:link,
.social:visited {
    display: inline-block;
    margin-top: 38%;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: rgb(217, 217, 217);
    vertical-align: text-top;
    line-height: 30px;
    color: rgb(51, 51, 51);
    font-size: 0.8em;
}

.media li:first-child .social:hover,
.media li:first-child .social:active {
    color: #007bb5;
}

.media li:nth-child(2) .social:hover,
.media li:nth-child(2) .social:active {
    color: #ff6600;
}

.media li:nth-child(3) .social:hover,
.media li:nth-child(3) .social:active {
    color: #55acee;
}

.media li:last-child .social:hover,
.media li:last-child .social:active{
    color: #3b5998;
}

.blog-change {
    color: rgb(37, 232, 166);
    margin-bottom: 1%;
}

.blog-change ul {
    list-style: none;
}

.blog-change li {
    display: inline-block;
    font-size: 2em;
    vertical-align: middle;
    margin-left: 18.1%;
    font-weight: 400;
}

.blog-change li:first-child {
    margin-left: 9.5%;
}

.blog-change i {
    font-size: 2em;
}

/***** ASIDE *****/
aside {
    float: right;
    margin: 51px 120px 0 30px;
    width: 270px;
    height: 385px;
    text-align: center;
    color: rgb(135, 138, 137);
    background-color: #fff;
    border: 1px solid rgb(217, 217, 217);
}

aside img {
    margin-top: 5%;
}

aside span {
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 1em;
    padding: 4%;
}

.greeting {
    font-size: 1.4em;
}

.author {
    color: #000;
    font-weight: 400;
    font-size: 1.3em;
}

/***** FOOTER *****/
.main-footer {
    height: 130px;
    line-height: 100px
    width: 100%;
    background-color: rgb(37, 232, 166);
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    text-align: center;
}

.main-footer span {
    display: inline-block;
    color: #fff;
    vertical-align:
}

.main-footer span:first-child {
    margin-top: 3%;
}

h4 {
    display: inline;
    font-weight: 600;
    color: #000;
}