<li class="main-skill">
    <h2 class="skill-name">
        Graphics
        <img src="~/Content/images/SkillsPage/skill-arrow.png" alt="Skills-Arrow">
    </h2>
    <ul class="skill-list">
        <li class="clearfix">
            <img src="~/Content/images/SkillsPage/skill-photoshop.png" alt="" class="skill-img">
            <progress class="skill-level" max="100" value="30"></progress>
            <div class="started-time">
                <p>Started: </p>
                <span>22/14/2014</span>
            </div>
            <div class="num-of-projects">
                <p>Completed projects: </p>
                <span>Two</span>
            </div>
        </li>
    </ul>
</li>
