<aside>

    <img src="@ViewBag.AvatarUrl" alt="Author Img"/>
    <p class="greeting">Hi I am</p>
    <p class="author">Petromil Pavlov</p>
    <span class="author-info">
       @ViewBag.AboutMe
    </span>

    @*<div class="container">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
            <li class="list-group-item">
                <span class="badge">14</span>
                Cras justo odio
            </li>
        </ul>
    </div>*@

</aside>
