<aside>
<<<<<<< HEAD
    <img src="~/Content/images/Guzarisme1.jpg" alt="Author Img" />
=======
    <img src="@ViewData["AvatarUrl"]" alt="Author Img" />
>>>>>>> origin/master
    <p class="greeting">Hi I am</p>
    <p class="author">Petromil Pavlov</p>
    <span class="author-info">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Quis doloremque perspiciatis consectetur suscipit animi odit,
        doloribus architecto error fugiat dolor sit totam,
        quaerat et assumenda illum autem neque soluta impedit.
    </span>
</aside>
