<aside>
    <img src="@ViewBag.AvatarUrl" alt="Author Img"/>
    <p class="greeting">Hi I am</p>
    <p class="author">Petromil Pavlov</p>
    <span class="author-info">
       @ViewBag.AboutMe
    </span>
</aside>
