@model BlogCMS.Web.Models.PostViewModel

<section class="blog-post">
    <header class="clearfix">
        <h2>@Model.Title</h2>
        <span class="posted"><i class="ion-calendar"></i>Posted at: @Model.CreatedAt</span>
    </header>
    <article>
        @Model.Content
    </article>
    <footer class="clearfix">
        <i class="ion-pricetag"></i>
        <div class="tags">books, story, tags</div>
        <div class="mymedia">
            <ul>
                <li><a class="social" href="#"><i class="ion-social-linkedin"></i></a></li>
                <li><a class="social" href="#"><i class="ion-social-rss"></i></a></li>
                <li><a class="social" href="#"><i class="ion-social-twitter"></i></a></li>
                <li><a class="social" href="#"><i class="ion-social-facebook"></i></a></li>
            </ul>
        </div>
    </footer>
</section>

