@model IEnumerable<BlogCMS.Web.Models.PostViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-md-8">
            @foreach (var post in Model)
            {
                if (post.isDeleted == 0)
                {
                    @Html.Partial("_Post", post)
                }
            }
        </div>

        <div class="col-md-4">
            @Html.Partial("_AboutMe")

        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
