@model IEnumerable<BlogCMS.Web.Models.PostViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div id="hero-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#hero-carousel" data-slide-to="1"></li>
        <li data-target="#hero-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/images/Omnifood.png" alt="First Img" />
            <div class="carousel-caption">
                Omnifood Site - Flat UI
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/Project1.jpg" alt="Second Img">
            <div class="carousel-caption">
                Wanna go fishing
            </div>
        </div>
        <div class="item">
            <img src="~/Content/images/Project2.jpg" alt="Second Img">
            <div class="carousel-caption">
                REALLY WANNA GO FISHING
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#hero-carousel" role="button" data-slide="prev">
        <img src="~/Content/images/carousel-left-transparent.png" alt="Left Arrow"/>
    </a>
    <a class="right carousel-control" href="#hero-carousel" role="button" data-slide="next">
        <img src="~/Content/images/carousel-right-transperant.png" alt="Right Arrow"/>
    </a>
</div>

<div class="row">
    <div class="col-lg-8">
        @foreach (var post in Model)
            {
                if (post.isDeleted == 0)
                {
                @Html.Partial("_Post", post)
            }
        }

    </div>
    <div class="col-lg-4">
        @Html.Partial("_AboutMe")
    </div>
</div>
