@model IEnumerable<BlogCMS.Web.Models.ProjectsViewModel>
@{
    ViewBag.Title = "Projects";
}
<div class="recent-projects">
    <header class="recent-projects-header">
        <p>Recent Projects</p>
        <hr>
    </header>
    @foreach (var project in Model)
    {
        if (project.IsDeleted != 1)
        {
           @Html.Partial("_Project", project)
        }
    }
</div>
