@{
    ViewBag.Title = "Projects";
}

<div class="recent-projects">
    <header class="recent-projects-header">
        <p>Recent Projects</p>
        <hr>
    </header>
    <main class="clearfix">
        <div class="img-frame">
            <img src="~/Content/images/recent_projects1.png" alt="Project image">
        </div>
        <div class="recent-projects-content">
            <header class="content-header">
                <p class="title">Amazing Project Title</p>
                <p class="time-span">Time-span: 3 weeks</p>
            </header>
            <article>
                Everyday Mobility contracted UWD to develop and design their new brand mark, logotype and visual identity. As they were rebranding from 'Walk on Wheels' to this new name, we took this opportunity to deliver a fresh, new look that integrates the various aspects of their core business.
            </article>
            <footer class="tags">
                <p>Kind: Website, Blog, Tags</p>
                <a class="btn btn-go-to-website" href="#">Go to website</a>
            </footer>
        </div>
    </main>
</div>