/****************************************************/
/********************Admin-area*********************/
/****************************************************/

.img-avatar {
    border-radius: 20%;
    margin-left: 110px;
    width: 90px;
}
